body {
  background-color: rgb(230, 230, 230);
}

*:focus {
  outline: 0;
}

.playArea {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid yellow;
  position: fixed;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform ease-in-out 0.5s;
}

.btn {
  background-color: rgb(255, 255, 255);
  width: 50px;
  margin: 5px;
  color: rgb(0, 0, 0);
  position: absolute;
  height: 50px;
  border-radius: 50%;
  border: 2px solid;
  transform-origin: 50% 150px;
}

.btn-active {
  color: rgb(255, 0, 0);
}

.btn-deactivated {
  background-color: gray;
  pointer-events: none;
}

.rotate180 {
  transform: translate(-50%, -50%) rotate(180deg);
  transition: transform ease-in-out 0.5s;
}
