* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}

body {
  background-color: black;
  transition: all ease-in-out 0.01s;
  font-family: "Nova Mono", monospace;
}

.body-good {
  background-color: rgb(85, 160, 0);
}

.body-bad {
  background-color: tomato;
}

.body-win {
  background-color: rgb(218, 134, 10);
}

*:focus {
  outline: 0;
}

.controlArea {
  position: static;
  margin: auto;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lifePoint,
.levelPoint {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
}

.lifePoint-fill {
  background-color: white;
}

.level {
  margin: 20px 30px 0px;
  padding: 0px 5px;
  display: inline-block;
}

.level:hover .levelPoint {
  background-color: black;
}

.levelPoint {
  border: 2px solid black;
}

.turnCounter {
  width: 100px;
  background-color: transparent;
  font-size: 50px;
  color: white;
  border: none;
  display: block;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

.turnCounterGray {
  color: gray;
}

.playArea {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*transition: transform ease-in-out 0.5s;*/
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  align-self: center;
  background-color: #fefefe;
  margin: 50vh auto; /* 15% from the top and centered */
  transform: translateY(-50%);
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;
}

.level:hover,
.level:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  width: 50px;
  margin: 5px;
  color: transparent;
  position: absolute;
  height: 50px;
  border-radius: 50%;
  border: 4px solid;
  transform-origin: 50% 150px;
  background-color: transparent;
  /*transition: all 1.05s linear;*/
}

.btn-1 {
  border-color: red;
}

.btn-1-active {
  background-color: red;
  box-shadow: 0 0 40px 1px red;
}

.btn-2 {
  border-color: gold;
}

.btn-2-active {
  background-color: gold;
  box-shadow: 0 0 40px 1px gold;
}

.btn-3 {
  border-color: green;
}

.btn-3-active {
  background-color: green;
  box-shadow: 0 0 40px 1px green;
}

.btn-4 {
  border-color: violet;
}

.btn-4-active {
  background-color: violet;
  box-shadow: 0 0 40px 1px violet;
}

.btn-5 {
  border-color: orange;
}

.btn-5-active {
  background-color: orange;
  box-shadow: 0 0 40px 1px orange;
}

.btn-6 {
  border-color: cyan;
}

.btn-6-active {
  background-color: cyan;
  box-shadow: 0 0 40px 1px cyan;
}

/*#btn-1 {
  background-color: none;
  border-color: red;
}

#btn-1:active {
  background-color: red;
}*/

.btn-deactivated {
  background-color: gray;
  pointer-events: none;
}

/*
.rotate180 {
  transform: translate(-50%, -50%) rotate(180deg);
  transition: transform ease-in-out 0.1s;
} */
