body {
  background-color: rgb(230, 230, 230);
}

.playArea {
  display: flex;
  justify-content: center;
  border: 1px solid yellow;
  position: relative;
  top: 100px;
}

.btn {
  background-color: rgb(255, 255, 255);
  width: 50px;
  margin: 5px;
  color: rgb(0, 0, 0);
  position: absolute;
  height: 50px;
  border-radius: 50%;
  border: 2px solid;
  transform-origin: 50% 150px;
}

.btn-active {
  color: rgb(255, 0, 0);
}

.btn-deactivated {
  background-color: gray;
  pointer-events: none;
}
